body {
    background-color: white;
    color: #FB8159;
    font-family: 'Lucida Console', Monaco, monospace, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    text-align: center;
}

header {
    width: 100%;
    padding-top: 80px;
    padding-bottom: 30px;
    background-color: #99b7f5;
    color: #489a6e;
    text-align: center;
    box-sizing: border-box;
    border-radius: 0 0 15px 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 2.5em;
    margin: 0;
    font-weight: bold;
}

header nav {
    padding-top: 10px;
    display: inline-block;
    text-align: center;
}

header nav a {
    color: #ffffff;
    text-decoration: none;
    padding: 8px;
    margin: 0 10px;
}

header nav a:hover {
    color: #FB8159;
    text-decoration: underline;
}

main {
    width: 90%;
    max-width: 1200px;
    margin-top: 30px;
    padding: 20px;
    text-align: left;
    box-sizing: border-box;
    border-radius: 15px;
    background-color: #f7f7f7;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 2.2em;
    margin-bottom: 20px;
}

main p {
    font-size: 1.2em;
    line-height: 1.5;
}

.project-container {
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 30px;
}

.project-block {
    width: 45%;
    height: 300px;
    background-color: #f296bd;
    border-radius: 15px;
    padding: 20px;
    box-sizing: border-box;
    color: #FB8159;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.project-block:hover {
    transform: scale(1.05);
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
}

.project-block2 {
    background-color: #fcca59;
    color: #99b7f5;
}

.project-block3 {
    background-color: #FB8159;
    color: #fcca59;
}

.project-block4 {
    background-color: #99b7f5;
    color: #489a6e;
}

footer {
    width: 100%;
    padding: 20px;
    background-color: #fcca59;
    color: white;
    text-align: center;
    margin-top: auto;
    box-sizing: border-box;
    border-radius: 15px 15px 0 0;
    box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.1);
}

footer nav {
    margin-bottom: 10px;
    display: inline-block;
    text-align: center;
}

footer nav a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 10px;
    padding: 8px 15px;
    border-radius: 25px;
    background-color: #489a6e;
    transition: background-color 0.3s;
}

footer nav a:hover {
    color: #f296bd;
}

footer p {
    margin-top: 20px;
    font-size: 1em;
}

a {
    color: #489a6e;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s, text-decoration 0.3s;
}

a:hover {
    color: #f296bd;
    text-decoration: underline;
}

a:visited {
    color: #fffcfc;
}


.dropdown {
    display: inline-block;
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fcca59;
    min-width: 160px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    z-index: 100;
    padding: 10px 0;
}

.dropdown-content li {
    list-style: none;
}

.dropdown-content a {
    display: block;
    color: #489a6e;
    text-decoration: none;
    padding: 8px 16px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a:hover {
    background-color: #f296bd;
    color: white;
    border-radius: 4px;
}

@media screen and (max-width: 980px) {
    main {
        width: 95%;
    }

    main {
        text-align: left;
    }
}