<nav>
    <a href="https://webpages.charlotte.edu/aeckard3/">CLT Homepage</a> | 
    <a href="https://github.com/ameliaeckard">GitHub.com</a> |
    <a href="https://ameliaeckard.github.io/">GitHub.io</a> |
    <a href="https://www.linkedin.com/in/ameliaeckard/">LinkedIn</a>
</nav>
<p>Page Built by <a href="https://absurdeagle.com/">Absurd Eagle Enterprises</a> &copy; 2025</p>
<a href="https://validator.w3.org/check?uri=referer" id="validation-link-html"></a>
<a href="https://jigsaw.w3.org/css-validator/check/referer" id="validation-link-css">
    <img class="validator-badge" src="https://jigsaw.w3.org/css-validator/images/vcss" alt="Valid CSS!">
</a>
