<nav>
    <a href="index.html">Home</a> | 
    <a href="./">Files</a> | 
    <a href="introduction.html">Introduction</a> | 
    <a href="contract.html">Contract</a> | 
    <div class="dropdown">
        <a href="projects.html">Projects ▾</a>
        <ul class="dropdown-content">
            <li><a href="introduction.html">Introduction Page</a></li>
            <li><a href="index.html">Website Home</a></li>
            <li><a href="contract.html">Contract Page</a></li>
            <li><a href="absurdeagle.com/about.html">Business Page</a></li>
            <li><a href="stuff/BaDp@ge!!.HTM">CRAPPY Page</a></li>
            <li><a href="hobby/hobby.html">Hobby Page</a></li>
            <li><a href="absurdeagle.com/tables.html">Table Page</a></li>
            <li><a href="amealieckard.com/index.html">Firm Page</a></li>
            <li><a href="website_evaluations.html">Website Evaluations</a></li>
            <li><a href="review1.html">Review 1</a></li>
            <li><a href="review2.html">Review 2</a></li>
            <li><a href="slideshow.html">Slideshow</a></li>
            <li><a href="drawing.html">Drawing</a></li>
            <li><a href="byo_intro.html">BYO Intro</a></li>
        </ul>
    </div>
</nav>
