        <h1>Amelia Eckard | Absurd Eagle</h1>
            <nav>
                <a href="index.html">Home</a> | 
                <a href=".\">Files</a> | 
                <a href="introduction.html">Introduction</a> | 
                <a href="contract.html">Contract</a> | 
        
                <div class="dropdown">
                    <a href="projects.html">Projects ▾</a>
                    <ul class="dropdown-content">
                        <li><a href="introduction.html">Introduction Page</a></li>
                        <li><a href="index.html">Website Home</a></li>
                        <li><a href="contract.html">Contract Page</a></li>
                        <li><a href="business.html">Business Page</a></li>
                    </ul>
                </div>
            </nav>